<%= form_with model: @customer do |form| %>
   <% if @customer.errors.any? %>
    <div class="rounded-md bg-red-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800"> <%= pluralize(@customer.errors.count, "erros") %> proibiram de esse customer ser salvo:</h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc space-y-1 pl-5">
              <% @customer.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="border-b border-gray-900/10 pb-12 flex flex-col justify-center">
    <fieldset class='mt-5'>
      <legend class="text-xl font-bold">Cadastro de Cliente</legend>
      <%= form.fields_for :user do |user_form| %>
        <div class="mb-4 w-2/4">
          <%= user_form.label 'Nome', class: label_classes %>
          <%= user_form.text_field :name, class: input_classes %>
        </div>

        <div class="mb-4 w-2/4">
          <%= user_form.label 'CPF', class: label_classes %>
          <%= user_form.text_field :cpf, class: input_classes %>
        </div>

        <div class="mb-4 w-2/4">
          <%= user_form.label 'Email', class: label_classes %>
          <%= user_form.text_field :email, class: input_classes %>
        </div>

        <div class="mb-4 w-2/4">
          <%= form.label 'Data de Nascimento', class: label_classes %>
          <%= form.date_field :birthday, class: input_classes %>
        </div>

        <div class="mb-4 w-2/4">
          <%= user_form.label 'Password', class: label_classes %>
          <%= user_form.password_field :password, class: input_classes %>
        </div>
      <% end %>
    </fieldset>

    <fieldset class='mt-5'>
      <legend class="text-xl font-bold">Endereço</legend>

      <%= form.fields_for :addresses do |address_form| %>
        <div class="mb-4 w-2/4">
          <%= address_form.label 'Rua', class: label_classes %>
          <%= address_form.text_field :name, class: input_classes %>
        </div>

        <div class="mb-4 w-2/4">
          <%= address_form.label 'Número', class: label_classes %>
          <%= address_form.text_field :number, class: input_classes %>
        </div>

        <div class="mb-4 w-2/4">
          <%= address_form.label 'Bairro', class: label_classes %>
          <%= address_form.text_field :neighborhood, class: input_classes %>
        </div>

        <div class="mb-4 w-2/4">
          <%= address_form.label 'Logradouro', class: label_classes %>
          <%= address_form.text_field :public_place, class: input_classes %>
        </div>

        <div class="mb-4 w-2/4">
          <%= address_form.label 'CEP', class: label_classes %>
          <%= address_form.text_field :zip_code, class: input_classes %>
        </div>

        <div class="mb-4 w-2/4">
          <%= address_form.label 'Cidade', class: label_classes %>
          <br>
          <%= address_form.collection_select(:city_id, City.all, :id, :name, { prompt: 'Selecione...' }, { class: input_classes }) %>
        </div>

      <% end %>
    </fieldset>

    <div class="mt-6 flex items-center justify-start gap-x-6">
      <%= link_to "Cancelar", customers_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
      <%= form.submit 'Salvar', class: botoes_azuis %>
    </div>
  </div>
<% end %>
