<%= fields_for "order[items_attributes][#{ item.persisted? ? item.id : Time.now.to_i }]", item do |ff| %>
  <div class="my-5 flex justify-between">
    
    <div class="mb-2 w-2/4">
      <%= ff.label 'Prato', class: label_classes %>
      <%= ff.collection_select(:dish_id, Dish.all, :id, :name, { prompt: 'Selecione' }, { class: input_classes }) %> 
    </div>

    <div class="mb-2 w-1/4">
      <%= ff.label 'Quantidade', class: label_classes %>
      <%= ff.number_field :amount, min: 1, class: input_classes %> 
    </div>
    
    <%= ff.hidden_field :id %>
  </div>
<% end %>

 