<%= form_with(model: @order) do |form| %>
   <% if @order.errors.any? %>
    <div class="rounded-md bg-red-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800"> <%= pluralize(@order.errors.count, "erros") %> proibiram de esse pedido ser salvo:</h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc space-y-1 pl-5">
              <% @order.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="border-b border-gray-900/10 pb-12 flex flex-col justify-center">
    <h2 class="text-xl font-bold ml-6">Editar Pedidos</h2>
      <div class="mb-4 w-2/4 ml-6">
        <%= form.label 'Cliente', class: label_classes %>
        <%= form.collection_select(:customer_id, Customer.all, :id, :name, { prompt: 'Selecione' }, { class: input_classes }) %> 
      </div>

    <div class="mb-4 w-2/4 ml-6" >
    <h2 class="text-xl font-bold mb-4">Itens do Pedido</h2>
     <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Prato</th>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Qtd</th>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Preço Unit.</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @order.order_items.each do |order_item| %>
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" ><%= order_item.dish.name %></td>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" ><%= order_item.amount %></td>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" >R<%= number_to_currency(order_item.unit_price) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

      <%= link_to 'Adicionar Item', new_order_item_path(order_id: @order.id), class: botoes_azuis %>
    </div>

      <div class="mb-4 w-2/4 ml-6 bg-gray-200 rounded-lg p-3">
        <%= form.label 'Status', class: label_classes %>
          <% if @order.items.any? %>
            <% @order.status = :preparing %>
            <%= content_tag :p, @order.status %>
          <% else %>
            <%= content_tag :p, @order.status %>
          <% end %>
      </div>
      <div class="mb-4 w-2/4 ml-6 bg-gray-200 rounded-lg p-3">
        <%= form.label 'Total Geral', class: label_classes %>
        <%= content_tag :p, "R$ #{@order.total_price}" %> 
      </div>

    <div class="mt-6 ml-6 flex items-center justify-start gap-x-6">
      <%= link_to "Cancelar", orders_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
      <%= form.submit 'Salvar', class: botoes_azuis %>
    </div>
  </div>
<% end %>
